/*
========================
GLOBAL CSS START HERE 
========================
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


@import "tailwindcss";
@plugin "daisyui";


html,body {
  overflow-x: hidden !important;
}
body { 
    font-family: "Inter", sans-serif;
}

.font-mulish {
    font-family: "Mulish", sans-serif;
}

/* custom container */
.container {
    @apply mx-auto lg:max-w-[1300px] md:max-w-[1500px] sm:max-w-[1500px] px-3
}


/* Custom sidebar styles */
.offcanvas {
  position: fixed;
  top: 0;
  left: -250px; /* Initially off-screen */
  width: 100%;
  max-width: 250px;
  height: 100vh;
  transition: transform 0.5s ease-in-out; /* Smooth transition */
  z-index: 99;
}
.offcanvas.show {
  transform: translateX(250px); /* Slide in */
}
.offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 40;
  transition: opacity 0.3s ease-in-out;
}
.offcanvas-backdrop.show {
  display: block;
  opacity: 1;
}


#headersticky {
  transition: 0.7s;
}
.dropdown_btn:hover .dropdown_content {
  top: 100.9px;
  opacity: 1;
  visibility: visible;
}
.slide_video {
  position: relative;
}
.slide_video::before {
  content: "";
  display: block;
  width: 200px;
  height: 100%;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
  position: absolute;
  top: 0;
  left:0;
}
.slide_video::after {
  content: "";
  display: block;
  width: 200px;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
  position: absolute;
  top: 0;
  right:0;
}

/* primary button */
.primary_btn {
 @apply text-white text-[17.297px] font-[700] leading-[20px] tracking-[0.54px] rounded-[64px] bg-[#FF5300] px-7 py-5 hover:bg-white hover:text-black transition-all duration-500 cursor-pointer
}